@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "CSV input";
}
<h2>CSV Bulk Upload</h2>
@{ using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
 {
     @Html.ValidationSummary();
   
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                <input type="text" id="txtFileName" name="txtFileName"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="file" id="fileUpload" name="fileUpload" accept="application/csv" style="width: 90px;" onchange="validation()"/>
                <span class="field-validation-error" id="spanfile"></span>
            </div>
        </div>
    <div class="form-group">
         <div class="col-md-offset-2 col-md-10">
             <input type="submit" id="btnSubmit" value="Import" class="btn btn-success"/>
             @Html.ActionLink("Cancel", "Index", null, new {@class = "btn btn-warning"})
         </div>
    </div>
    </div>
     <div style="color: red; font-size: larger;">@ViewBag.Message</div>
     <div style="color: green; font-size: medium;">@ViewBag.Count</div>
 }
}

<script src="~/Scripts/jquery-1.10.2.js"></script>

<script type="text/javascript">
    function validation() {

        var fname = (document.getElementById('fileUpload').value).substring(12);

        var re = /(\.csv)$/i;

        if (re.exec(fname)) {

            document.getElementById('txtFileName').value = (document.getElementById('fileUpload').value).substring(12);

        }

        else

            alert("file not supported!");

    }

</script>

